# PyCharm
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries/
/.idea/usage.statistics.xml

# Dossiers temporaires de build
/build/
/dist/
/AppDir/usr

# Fichiers générés par PyInstaller
*.spec
*.toc
*.pkg
*.zip
*.pyc
*.pyo
*.pyd
__pycache__/

# AppImage généré
*.AppImage

# Outils locaux
/appimagetool
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
